body {
  height: auto;
  width: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(146, 165, 228);
  color: white;
  padding: 20px 0;
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.List {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0 50px;
  margin: 0 50px;
  width: 600px;
  height: auto;
  align-items: center;
}

.List h2 {
  text-decoration: underline;
  width: 200px;
}

.List div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 5px 0;
  width: 550px;
  height: 100%;
}


.CelebImg img {
  max-width: 80px;
  height: auto;
}

.Name {
font-size: 20px;
width: 200px;
}

.BigBtn button {
  background-color: white;
  color: rgb(97, 126, 221);
  border:  rgb(97, 126, 221) 1px solid;
  border-radius: 5px;
  width: 200px;
  padding: 10px 0;
  font-size: 12px;
}

.SmallBtn button {
  background-color: white;
  color: rgb(97, 126, 221);
  border:  rgb(97, 126, 221) 1px solid;
  border-radius: 5px;
  width: 80px;
  padding: 10px 0;
  font-size: 12px;
}

.action {
  margin-left: 20px;
}


